body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-bg {
  background-color: #010101;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0px auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  margin-top: 2px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  content: "";
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: #121212;
    padding: 12px 16px;
    border-radius: 5px;
  }

  .header-menu a:hover {
    background-color: #2b2b2b;
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
