.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.keyboard-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.keyboard-images img {
  flex: 1;
  min-width: 200px;
}

.keyboard-images img:first-child {
  min-width: 100%;
}

.keyboard-content > p {
  margin-bottom: 32px;
}

.keyboard-buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.keyboard-buy a {
  grid-row: span 2;
  padding: 24px 56px;
}

.keyboard-buy span {
  display: flex;
  align-items: center;
  background-color: var(--color-12);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 5px;
}

.keyboard-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.keyboard-informations,
.keyboard-details {
  padding: 32px;
  background-color: var(--color-12);
  border-radius: 5px;
}

.keyboard-informations {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.keyboard-informations img {
  width: 24px;
  margin-bottom: 8px;
}

.keyboard-informations h3 {
  margin-bottom: 8px;
}

.keyboard-details li {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-11);
}

.keyboard-details li:last-child {
  border-bottom: none;
}

.keyboard-details span {
  color: var(--color-6);
}

@media (max-width: 800px) {
  .keyboard {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .keyboard-informations,
  .keyboard-buy {
    grid-template-columns: 1fr;
  }
}
