.footer-bg {
  background-color: var(--color-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contact {
  margin-bottom: 32px;
}

.footer-contact li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 350px;
  height: 2px;
  background: var(--color-11);
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--color-0);
}

.footer-copy {
  grid-column: 1/-1;
  text-align: center;
}

@media (max-width: 800px) {
  .footer > h1 {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
