.partners {
  padding-top: 60px;
  padding-bottom: 120px;
}

.partners h2 {
  margin-bottom: 60px;
}

.partners ul {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  justify-content: center;
}

.partners li {
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--color-2);
}

.partners img {
  margin: auto;
  filter: invert(25%) brightness(100%);
}

.partners li:first-child,
.partners li:nth-child(4) {
  border-left: none;
}

.partners li:nth-child(n + 4) {
  border-top: 2px solid var(--color-2);
}

@media (max-width: 800px) {
  .partners {
    padding-bottom: 60px;
  }
  .partners h2 {
    margin-bottom: 20px;
  }
  .partners ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners li:nth-child(n + 3) {
    border-top: 2px solid var(--color-2);
  }

  .partners li:nth-child(4) {
    border-left: 2px solid var(--color-2);
  }

  .partners li:nth-child(odd) {
    border-left: none;
  }
}
