.review {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-p1);
  overflow: hidden;
}

.review img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-content {
  padding: 40px 40px 80px 80px;
  align-self: end;
  background: url("../../img/dec/bottom-right.svg") no-repeat bottom 40px right
    40px;
}

.review-content p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-block: 32px;
  position: relative;
}

.review p::before,
.review p::after {
  font-size: 5rem;
  color: var(--color-p2);
  position: absolute;
}

.review p::before {
  content: "“";
  left: -60px;
  top: -20px;
}

.review p::after {
  content: "”";
}

@media (max-width: 1500px) {
  .review img {
    height: 100%;
  }
}

@media (min-width: 1500px) {
  .review img {
    max-height: 600px;
  }
}

@media (max-width: 900px) {
  .review {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .review img {
    max-height: 300px;
  }

  .review-content {
    padding: 40px 20px;
    justify-self: center;
  }
}
