.button {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--color-p0), var(--color-p1));
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--color-0);
  font:
    500 1.125rem/1.35 "Inter",
    sans-serif;
  max-width: max-content;
}

.button:hover {
  background: linear-gradient(var(--color-p1), var(--color-p2));
}

.button.secondary {
  background: var(--color-10);
  color: var(--color-2);
}

.button.secondary:hover {
  background: var(--color-9);
  color: var(--color-2);
}

@media (max-width: 600px) {
  .button {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--color-p0);
  font:
    500 1.5rem/1.5 "Inter",
    sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: var(--color-p0) 1px solid;
  padding: 8px 14px;
  border-radius: 5px;
}

.title-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-11);
}

.title {
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .title-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title p {
    font-size: 1rem;
    font-weight: 400;
  }
}
